/*reset css 重置样式*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Microsoft YaHei","sans-serif";
    font-size: 14px;
    color: #333333;
}

a {
    color: #333333;
    text-decoration: none;
}

ul {
    list-style: none;
}

input,textarea {
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none; /*清楚移动端默认样式 内阴影立体感*/
}

/*common css 公用样式*/
.f_left {
    float: left;
}
.f_right {
    float: right;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}
.m_t10 {
    margin-top: 10px;
}
.m_r10 {
    margin-right: 10px;
}
.m_b10 {
    margin-bottom: 10px;
}
.m_l10 {
    margin-left: 10px;
}

/*精灵图公用属性*/
[class^="icon_"],[class*=" icon_"]{
    background: url("../images/sprites.png") no-repeat;
    background-size: 200px 200px;
}

